@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import "./variables";
@import "./responsive";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Staatliches', cursive;
}

body {
    background-image: linear-gradient(rgba(45, 45, 45, 0.8), rgba(45, 45, 45, 0.6), rgba(45, 45, 45, 0.8)),
        url(../img/contact-bg.jpg);
    background-position: center;
    background-attachment: fixed;
    color: $blanco;
    text-rendering: optimizeLegibility;
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 16px;
    @include laptop-l {
        font-size: 14px;
    }

    @include laptop {
        font-size: 12px;
    }

    @include tablet {
        font-size: 10px;
        p,
        label {
            font-size: 14px;
        }
    }
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

h1 {
    display: none;
}

h2 {
    font-size: 350%;
    color: $blanco;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

p {
    font-family: 'Roboto', sans-serif;
    color: $blanco-texto;
    display: block;
}

ul {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $blanco;
}

// Buttons

.btn {
    font-size: 150%;
    padding: 0.625rem 1.875rem;
    margin: 0rem 0rem;
    cursor: pointer;
    border-radius: $borde-redondeado;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
}

.btn-noticia {
    font-size: 120%;
    width: 100%;
    text-align: center;
    padding: 0.625rem 3.75rem;
    margin: 1.25rem 1.875rem;
    letter-spacing: 1px;
}

.btn-full {
    border: 2px solid $blanco;
    color: $blanco;
    transition: ease all .3s;
    &:hover,
    &:active {
        background-color: $blanco;
        color: $negro;
    }
}

// images
.img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}